NOTION_API_KEY=
NOTION_EVIDENCE_DATA_SOURCE_ID=
NOTION_PRODUCT_ATTRIBUTES_DATA_SOURCE_ID=
NOTION_KNOWLEDGE_ITEMS_DATA_SOURCE_ID=
YESCALE_API_KEY=
KF_CODE_ROOT=
KF_EXTRACTION_ROOT=
KF_OUTPUT_ROOT=
KF_SKIP_INSTALL=1
KF_PULL_NOTION_DECISIONS=0

