APP_MODE=MOCK
STAGING_ENABLED=false
STAGING_WRITE_ENABLED=false
ALLOW_PRODUCTION=false
ALLOW_PUBLIC_EFFECTS=false
STAGING_NOTION_TOKEN=
TEST_RUN_ID=
SOURCE_REVISION=
CONTRACT_DIGEST=
CMS_STAGING_BASE_URL=
CMS_STAGING_TOKEN=
ACCESS_EXPIRES_AT=

