APP_MODE=MOCK
STAGING_ENABLED=false
STAGING_WRITE_ENABLED=false
ALLOW_PRODUCTION=false
ALLOW_PUBLIC_EFFECTS=false
STAGING_NOTION_TOKEN=
TEST_RUN_ID=
SOURCE_REVISION=
CONTRACT_DIGEST=fd3c1b6f1ec5461e7080c538e1c332d7af3098db32edd1565e1ae16933f951a8
CMS_STAGING_BASE_URL=
CMS_STAGING_TOKEN=
ACCESS_EXPIRES_AT=
CMS_LEDGER_PATH=./data/ledger.sqlite
